@font-face {
    font-family: m_bold;
    src: url(../fonts/DMSans-Bold.ttf);
}
@font-face {
    font-family: m_bolditalic;
    src: url(../fonts/DMSans-BoldItalic.ttf);
}
@font-face {
    font-family: m_italic;
    src: url(../fonts/DMSans-Italic.ttf);
}
@font-face {
    font-family: m_medium;
    src: url(../fonts/DMSans-Medium.ttf);
}
@font-face {
    font-family: m_regular;
    src: url(../fonts/DMSans-Regular.ttf);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(27, 66%, 92%);
    font-family: m_regular;
}

.m_container {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
    PADDING: 40PX;
}
.m_wrap {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    vertical-align: middle;
}

/*=====================
        HEADER
=====================*/
#m_header {
    margin-top: 100px;
    background: hsl(10, 79%, 65%);
    border-radius: 20px;
}
#m_header .m_balance {
    color: #fff;
}
#m_header .m_balance h1 {
    margin: 0;
}

/*=====================
    CONTENT SECTION
=====================*/
#m_main {
    background: hsl(33, 100%, 98%);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.m_spend h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    color: hsl(25, 47%, 15%);
}
.m_total {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid hsl(27, 66%, 92%);
}
.m_totaltext,
.m_percent p {
    color: hsl(28, 10%, 53%);
    margin: 0;
}
.m_price h3 {
    font-size: 40px;
    margin: 0;
    color: hsl(25, 47%, 15%);
}
.m_percent span {
    width: 100%;
    display: block;
    text-align: right;
    font-weight: 600;
}