.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(27, 66%, 92%);
}

.m_container {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

/*=====================
        HEADER
=====================*/
#m_header {
    margin-top: 100px;
    background: hsl(10, 79%, 65%);
    padding: 30px;
    border-radius: 20px;
}


/*=====================
    CONTENT SECTION
=====================*/
#m_main {
    background: hsl(33, 100%, 98%);
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}